{% extends "base.html" %}
{% load static %}

{% block loadcss %}
<link rel="stylesheet" href="{% static 'css/access_control.css' %}" crossorigin="anonymous">
{% endblock %}

{% block content %}

<div class="row text-center justify-content-end mt-4 mx-4">
  <div class="input-group search-bar">
    <input type="text" class="form-control mr-2" placeholder="E-mail search..." id="email-search-input">
    <input type="checkbox" name="search_all" id="search_all"><b>全部</b>
  </div>
</div>

<div class="row justify-content-center mt-1">
    <div class="row user-group justify-content-center" id="all-user">
        {% for user in users %}
        <div class="user-item col-md-auto m-2{% if user.staff_status %} staff{% endif %}">
            <div class="user-content row my-3">
                <div class="avatar-container">
                    {% if user.avatar %}
                    <img id="photo-preview" src="{{ MEDIA_URL }}{{user.avatar.url}}">
                    {% else %}
                    <div class="last_name">
                        <a>{{user.last_name}}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="user-content row">
                <h4><b>{{ user.get_full_name }}</b></h4>
            </div>
            <div class="user-content row">
                <h6 class="user-mail">{{ user.email }}</h6>
            </div>
            <div class="user-content row">
                <h4><b>{{ user.job_title }}</b></h4>
            </div>
            <div class="user-gender row">
                {% if user.gender == 'M' %}
                <i class="bi bi-gender-male" style="background-color: #7FFFD4;"></i>
                {% else %}
                <i class="bi bi-gender-female" style="background-color: #FFB6C1;"></i>
                {% endif %}
            </div>

            <div class="user-button row justify-content-center">
                {% if request.user.is_staff or request.user.is_superuser %}
                    {% if not user.is_staff %}
                    <a class="col btn btn-success mx-3" href="{% url 'grant_staff_permission' user_id=user.id %}">授權</a>
                    {% else %}
                    <a class="col btn btn-success disabled mx-3" href="{% url 'grant_staff_permission' user_id=user.id %}">授權</a>
                    {% endif %}
                {% endif %}
                {% if request.user.is_superuser and user.is_staff %}
                <a class="col btn btn-danger mx-3" href="{% url 'remove_staff_permission' user_id=user.id %}">取消</a>
                {% else %}
                <a class="col btn btn-danger disabled mx-3" href="{% url 'remove_staff_permission' user_id=user.id %}">取消</a>
                {% endif %}
            </div>
            <div class="user-date row mr-3">
                <h6>加入日期 : {{ user.date_joined|date:"m/d/Y" }}</h6>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row pt-2 text-center">
  <div class="col-4">
    <a href="#" id="user-previous-btn">&lt;</a>
  </div>
  <div class="col-4">
    <span id="user-page-number"></span>
  </div>
  <div class="col-4">
    <a href="#" id="user-next-btn">&gt;</a>
  </div>
</div>



<script src="{% static 'js/access_control.js' %}" crossorigin="anonymous"></script>
{% endblock %}
