{% extends "base.html" %}
{% load static %}

{% block loadcss %}
<link rel="stylesheet" href="{% static 'css/disease_overview.css' %}" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="row board-title">
    <a href="/apps">Apps</a>
    <a class="px-3">/</a>
    <a>Overview</a>
</div>
<div class="mx-5 my-2">
  <div class="row text-center">
    <div class="col-md-5 left-col">
      <!--overview-->
      <div class="overview mb-3 row px-3">
        <div class="overview-item col px-0 mr-1 d-flex flex-column" onclick="window.location.href='{% url 'diseases_info' %}'">
          <a class="mb-1">疾病:</a>
          <h3 class="score score--pass">{{ disease_count }}</h3>
        </div>
        <div class="overview-item col px-0 mx-1 d-flex flex-column" onclick="window.location.href='{% url 'symptoms_info' %}'">
          <a class="mb-1">病徵:</a>
          <h3 class="score score--pending">{{ symptom_count }}</h3>
        </div>
        <div class="overview-item col px-0 mx-1 d-flex flex-column" onclick="window.location.href='{% url 'bad_habits_info' %}'">
          <a class="mb-1">行為:</a>
          <h3 class="score score--fail">{{ bad_habit_count }}</h3>
        </div>
        <div class="overview-item col px-0 ml-1 d-flex flex-column" onclick="window.location.href='{% url 'clinics_info' %}'">
          <a class="mb-1">科別:</a>
          <h3 class="score score--fail">{{ clinics_count }}</h3>
        </div>
      </div>

      <div class="text-left object pt-3">
        <div class="mx-2">
          <div class="row align-items-center pb-1">
            <div class="col-6">
              <h5 class="object-title mb-0" style="padding-left:25px;">疾病:</h5>
            </div>
            <div class="col-6">
              <div class="search-form mb-0">
                <div class="input-group align-items-center">
                  <input type="text" class="form-control" placeholder="Search..." id="left-search">
                  <i class="bi bi-plus-square" onclick="window.location.href='{% url 'diseases_info' %}'"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row disease-list my-2">
            <div class="col-md-12">
              <ul class="" id="disease-list">
                {% for disease in diseases %}
                <li class="">
                  <div class="names">
                    {{ disease.chinese_name }}
                  </div>
                  <div class="d-flex justify-content-end">
                    <i class="bi bi-tools mr-2 icons" onclick="window.location.href='{% url 'disease_info' disease.id %}'"></i>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <form method="post" action="{% url 'update_diseases' %}" enctype="multipart/form-data" id="myForm">
        {% csrf_token %}
        <div class="d-flex justify-content-end up-down-load align-items-center">
          <label for="fileInput">
            <input type="file" name="csv_file" accept=".csv" id="fileInput" style="display: none;" onchange="submitForm()">
            <i class="bi bi-box-arrow-up"></i>
          </label>
          <i class="bi bi-box-arrow-in-down" onclick="window.location.href='{% url 'download_diseases' %}'"></i>
        </div>
      </form>
    </div>

    <!-- right column content here -->
    <div class="col-md-7 right-col">
      <div class="object">
        <div class="object-top">
          <div class="object-title">
          </div>
          <div class="link">
            <a href="#">編輯</a>
          </div>
        </div>
        <div class="object-content">
          <div id="unknown-chart"></div>
        </div>
      </div>
      <div class="object">
        <div class="object-top">
          <div class="object-title">
          </div>
          <div class="link">
            <a href="{% url 'body_parts_info' %}">編輯</a>
          </div>
        </div>
        <div class="object-content">
          <div id="body-parts-chart"></div>
        </div>
      </div>
      <div class="object">
        <div class="object-top">
          <div class="object-title">
            <a>更新紀錄:</a>
          </div>
          <div class="link">
            <a href="{% url 'disease_history_info' %}">查閱全部</a>
          </div>
        </div>
        <div class="object-content">
            <ul>
              {% for history in history_content %}
              <li>
                <div class="history-between">
                  <div class="names">
                    {{ history.0.title }}:
                    <a {% if history.0.chinese_name.remove.0 %} style="text-decoration: line-through;" {% elif history.0.chinese_name.add.0 %} style="color: #ff4500;" {% endif %}>{{ history.0.chinese_name.all_item.0 }}</a>
                  </div>
                </div>
                <div class="history-content">
                  {% if history.0.symptoms %}
                  <div class="history-start">
                    <a>病症:</a>
                    {% for symptom in history.0.symptoms.all_item %}
                    <a {% if symptom in history.0.symptoms.remove %} style="text-decoration: line-through;" {% elif symptom in history.0.symptoms.add %} style="color: #ff4500;" {% endif %}>
                      {{ symptom }},
                    </a>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% if history.0.bad_habits %}
                  <div class="history-start">
                    <a>行為:</a>
                    {% for habit in history.0.bad_habits.all_item %}
                    <a class="" {% if habit in history.0.bad_habits.remove %} style="text-decoration: line-through;" {% elif habit in history.0.bad_habits.add %} style="color: #ff4500;" {% endif %}>
                      {{ habit }},
                    </a>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% if history.0.clinic %}
                  <div class="history-start">
                    <a>科別:</a>
                    {% for clinic in history.0.clinic.all_item %}
                    <a {% if clinic in history.0.clinic.remove %} style="text-decoration: line-through;" {% elif clinic in history.0.clinic.add %} style="color: #ff4500;" {% endif %}>
                      {{ clinic }},
                    </a>
                    {% endfor %}
                  </div>
                  {% endif %}
                  {% if history.0.male_age_min %}
                  <div class="history-start" {% if history.0.male_age_min.remove %} style="text-decoration: line-through;" {% endif %}>
                    <a>男性年紀:</a>
                    <a {% if history.0.male_age_min.add.0 %} style="color: #ff4500;" {% endif %}>
                      {{ history.0.male_age_min.all_item.0 }}-
                    </a>
                    <a {% if history.0.male_age_max.add.0 %} style="color: #ff4500;" {% endif %}>
                      {{ history.0.male_age_max.all_item.0 }}
                    </a>
                    <a class="ml-2">女性年紀:</a>
                    <a {% if history.0.female_age_min.add.0 %} style="color: #ff4500;" {% endif %}>
                      {{ history.0.female_age_min.all_item.0 }}-
                    </a>
                    <a {% if history.0.female_age_max.add.0 %} style="color: #ff4500;" {% endif %}>
                      {{ history.0.female_age_max.all_item.0 }}
                    </a>
                    <a class=" ml-2" {% if history.0.family_history.add.0 %} style="color: #ff4500;" {% endif %}>
                        家族史:
                    </a>
                    <input type="checkbox" {% if history.0.family_history.all_item.0 == 'True' %} checked {% endif %} disabled>
                  </div>
                  {% endif %}
                  {% if history.0.symptom_groups %}
                  <div class="history-start">
                    <a>病症:</a>
                    {% for symptom_group in history.0.symptom_groups.all_item %}
                    <a {% if symptom_group in history.0.symptom_groups.remove %} style="text-decoration: line-through;" {% elif symptom_group in history.0.symptom_groups.add %} style="color: #ff4500;" {% endif %}>
                      {{ symptom_group }},
                    </a>
                    {% endfor %}
                  </div>
                  {% endif %}
                  <div class="history-between">
                    <div class="avatar-container" title="{{history.1.user.get_full_name}}">
                        {% if history.1.user.avatar %}
                        <img id="photo-preview" src="{{ MEDIA_URL }}{{history.1.user.avatar.url}}">
                        {% else %}
                        <div class="last_name">
                            <a>{{history.1.user.last_name}}</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="dates">
                      {{ history.0.timestamp|date:"m/d/Y h:m" }}
                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="{% static 'js/disease_overview.js' %}" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
google.charts.load('current', {packages: ['corechart', 'bar']});
google.charts.setOnLoadCallback(drawUnknown);
google.charts.setOnLoadCallback(drawDodyPartsChart);

function drawUnknown() {
      var data = google.visualization.arrayToDataTable([
        ['labels', '未定義數量', { role: 'style' }],
        ['病症', {{unknown_symptoms}}, '#e9967a'],
        ['生活&行為', {{unknown_habits}}, '#e9967a'],
      ]);
      var options = {
        title: '未定義病症&行為',
        height: 100,
        chartArea: {
          width: '75%',
          height: '40%' // Set the desired height value here
        },
        bar: { groupWidth: '40%' },
        legend: {
          position: 'none' // Hide the legend, including the series labels
        },
      };
      var chart = new google.visualization.BarChart(document.getElementById('unknown-chart'));
      chart.draw(data, options);
    }



function drawDodyPartsChart() {
  var data = google.visualization.arrayToDataTable([
      ['body_part', 'number'],
      {% for body_part in body_parts %}
      ['{{ body_part.chinese_name }}', {{ body_part.symptom_group_count }}],
      {% endfor %}
    ]);

  var options = {
    chartArea: {width: '93%'},
    title: '身體部位病症數量',
    width: '100%',
    bar: { groupWidth: '40%' },
    legend: {
      position: 'none' // Hide the legend, including the series labels
    },
  };

  var chart = new google.visualization.ColumnChart(
    document.getElementById('body-parts-chart'));
  chart.draw(data, options);
}

function handleChartResize() {
  // Clear the existing chart
  var bodyPartsChart = document.getElementById('body-parts-chart');
  bodyPartsChart.innerHTML = '';
  var unknownChart = document.getElementById('unknown-chart');
  unknownChart.innerHTML = '';

  // Call drawMultSeries() to redraw the chart
  drawDodyPartsChart();
  drawUnknown();
}

// Attach the resize event handler
window.onresize = handleChartResize;

</script>
{% endblock %}