{% extends 'data_info_base.html' %}

{% load static %}
{% block loadcss %}
<link rel="stylesheet" href="{% static 'css/data_info_base.css' %}" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/symptom_info.css' %}" crossorigin="anonymous">
{% endblock %}
{% block loadjs %}
<script src="{% static 'js/data_info_base.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/symptom_info.js' %}" crossorigin="anonymous"></script>
{% endblock %}

{% block board_title %}
<div class="row board-title">
    <a href="/apps">Apps</a>
    <a class="px-3">/</a>
    <a href="/disease/disease-overview/">Overview</a>
    <a class="px-3">/</a>
    <a>Symptoms</a>
</div>
{% endblock %}


{% block left_list %}
<ul>
{% for symptomsgroup in symptomsgroups %}
    <li onclick="window.location.href='{% url 'symptom_info' symptomsgroup.id  %}'" {% if current_symptomsgroup.id == symptomsgroup.id %}style="background-color: #f2f2f2;"{% endif %}>
        {{ symptomsgroup }}<br>
        <small>
            [
            {% for symptom in symptomsgroup.symptoms.all %}
                {{ symptom }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            ]
        </small>
    </li>
{% endfor %}
{% endblock %}



{% block right_content %}
<form method="post" action="{% url 'add_symptom' current_symptomsgroup.id %}">
    {% csrf_token %}
    <div class="">
        <div class="option-name">
            <a>群組名稱:
            <select name="chinese_name" id="chinese_name">
                <option value="{{ current_symptomsgroup.chinese_name }}">{{ current_symptomsgroup.chinese_name }}</option>
                {% for name in current_symptomsgroup.symptoms.all %}
                {% if name.chinese_name != current_symptomsgroup.chinese_name %}
                    <option name="chinese_name" value="{{name.chinese_name}}">{{name.chinese_name}}</option>
                {% endif %}
                {% endfor %}
            </select>
            </a>
            <button type="submit">
                保存
            </button>
        </div>
        <div class="right-content">
            <div class="first-board">
                <div class="remove-title">
                    <a>內容: </a>
                </div>
                <div class="remove-content" id="remove-content">
                    {% for symptomsgroup in symptomsgroups %}
                    {% for symptom in symptomsgroup.symptoms.all %}
                    {% if symptomsgroup == current_symptomsgroup %}
                    <input type="hidden" name="group" value="{{ symptom.id }}">
                    <a class="remove-{{symptom.id}}-{{symptom.chinese_name}}" name="clinics">{{ symptom.chinese_name }}  <i class="bi bi-dash"></i></a>
                    {% else %}
                    <a class="remove-{{symptom.id}}-{{symptom.chinese_name}}" style="display:none;">{{ symptom.chinese_name }}  <i class="bi bi-dash"></i></a>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="second-board">
                <div class="add-title">
                    <a>其他群組: </a>
                </div>
                <div class="add-content">
                    {% for symptomsgroup in symptomsgroups %}
                    {% if symptomsgroup.symptoms.count > 1 and symptomsgroup != current_symptomsgroup %}
                    {% for symptom in symptomsgroup.symptoms.all %}
                    {% if symptomsgroup != current_symptomsgroup %}
                    <a class="add-{{symptom.id}}-{{symptom.chinese_name}}">{{ symptom.chinese_name }} <i class="bi bi-plus"></i></a>
                    {% else %}
                    <a class="add-{{symptom.id}}-{{symptom.chinese_name}}" style="display:none;">{{ symptom.chinese_name }} <i class="bi bi-plus"></i></a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="third-board">
                <div class="add-title">
                    <a>獨立個體: </a>
                </div>
                <div class="add-content">
                    {% for symptomsgroup in symptomsgroups %}
                    {% if symptomsgroup.symptoms.count == 1 or symptomsgroup == current_symptomsgroup%}
                    {% for symptom in symptomsgroup.symptoms.all %}
                    {% if symptomsgroup != current_symptomsgroup %}
                    <a class="add-{{symptom.id}}-{{symptom.chinese_name}}">{{ symptom.chinese_name }} <i class="bi bi-plus"></i></a>
                    {% else %}
                    <a class="add-{{symptom.id}}-{{symptom.chinese_name}}" style="display:none;">{{ symptom.chinese_name }} <i class="bi bi-plus"></i></a>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

