.history-content {
  font-size: 10px;
}

.history-start {
    display: flex;
    justify-content: start;
    align-items: center;
}

.history-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dates {
    font-size: 12px;
}

.names {
  font-size: 14px;
  text-overflow: ellipsis;
  white-space:nowrap;
  overflow:hidden;
  max-width:40rem;
}

.object-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 10px;
    border-bottom: 1px solid grey;
}


.board-title {
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
    height: 24px
}

.board-title a{
    padding: 0;
    margin: 0;
    font-size: 12px
}

li {
    border-bottom: 1px solid #d3d3d3;
}

ul {
    padding-left: 20px;
}


.avatar-container {
  position: relative;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid grey;
  overflow: hidden;
}

.avatar-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.last_name {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5px;
  background-color: #708090;
  color: white;
  pointer-events: none;
}