.app-icon {
    font-size: 36px;
    margin-bottom: 2px;
}

.apps-content {
    width: 300px;
    max-width: 300px;
}

.apps-item {
    margin: 5px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.apps-head {
    display: flex;
    flex-direction: column;
    width: 76px;
    height: 76px;
    align-items: center;
    justify-content: center;
    margin: 16px 16px;
}


.staff-content {
    border-top: 1px solid grey;
}


#apps .bi-universal-access {
    color: #FFA07A;
}

#apps .bi-file-person {
    color: #9400D3;
}

#apps .bi-person-check-fill {
    color: #0000FF;
}

#apps .fa-viruses {
    color: #006400;
}